body {
    background-color: #232634;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ABSOLUTE CENTER */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar {
    width: 50%;
    height: 7vh;
    border-radius: 5px;
    border-color: #303446;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: #292c3c;
    color: #c6d0f5	;
    text-align: left;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 2px 5px #1d1f2b;
}

.searchbar:focus {
    outline: none;
    /*border-color: #737994;*/
}

.searchbar::placeholder {
    color: #737994;
    opacity: 0.7;
}

.searchbar:hover {
    /*border-color: #737994;*/
    cursor: pointer;
    /* ease in out */
}

.searchbar::spelling-error {
    background-color: red;
    color: #292c3c;
}

.searchbutton {
    color: #838ba7;
}

.searchbutton:hover {
    color: #c6d0f5;
}

.heading {
    color: #f2d5cf;
    font-size: 38px;
    padding: 20px;
}

.topcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
